<!-- index.ejs -->
<html>

<head>
    <link rel="stylesheet" href="/styles.css">
  </head>
  
  <body>
    <%- include('./partials/navbar', {links: links}) %>
    <p><%= message %></p>
    <ul>
        <% users.forEach((user) => { %>
          <%- include('users/user', {user: user}); %>
        <% }); %>
      </ul>
      <%- include('./partials/footer') %>
  </body>
</html>
